.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background: #0ff1ce;
  width: 60%;
  margin-left: 20%;
  color: white;
}

.containerItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerItems img {
  margin-top: 30px;
}

.btn-click {
  margin-top: 5px;
}

img {
  width: 180px;
  height: 180px;
}

.person-details {
  width: 60%;
}
